<div class="side-nav">

  <div class='logo'> 
    <img src="../../assets/dashboard/default-dark.svg" alt=""/>  
  </div>

  <div class='scroll-nav'> 
   <ul> 
    <li> <i class="bi bi-columns-gap"></i> <a> Dashboard</a></li>
   </ul>
   
   <p class='pages'> Pages </p>
  <ul>
    <li> <i class="bi bi-person-vcard" ></i> <a [routerLink]="['/dashboard/movies']"> Movies </a></li>
    <li> <i class="bi bi-person"></i> <a > User Profile </a></li>
    <li> <i class="bi bi-person-check"></i> <a > Authentication </a></li>
    <li> <i class="bi bi-building"></i> <a > Corporate </a></li>

    <li> <i class="bi bi-alexa"></i> <a > Social </a></li>
    <li> <i class="bi bi-pencil-square"></i>  <a > Blog </a></li>
    <li> <i class="bi bi-patch-question"></i>  <a > FAQ </a></li>
    <li> <i class="bi bi-tags"></i> <a > Pricing </a></li>

    <li> <i class="bi bi-briefcase"></i> <a > Careers </a></li>
    <li> <i class="bi bi-tools"></i> <a > Utilities </a></li>
    <li> <i class="bi bi-columns"></i> <a > Widgets </a></li>
  </ul>

  <p class='pages'> Apps </p>
  <ul>
    <li> <i class="bi bi-kanban"></i> <a > Projects </a></li>
    <li> <i class="bi bi-cart"></i> <a > Ecommerce </a></li>
    <li> <i class="bi bi-voicemail"></i> <a > Contacts </a></li>
    <li> <i class="bi bi-headset"></i> <a > Support Center </a></li>

    <li> <i class="bi bi-people"></i> <a > User Management </a></li>
    <li> <i class="bi bi-gem"></i><a > Customers </a></li>
    <li> <i class="bi bi-bell"></i><a > Subscription </a></li>
    <li> <i class="bi bi-receipt"></i> <a > Invoice Manager </a></li>

  </ul>

  <p class='pages'> Layouts </p>
  <ul>
    <li> <i class="bi bi-layout-text-window"></i><a > Layout options </a></li>
    <li> <i class="bi bi-nut"></i><a > Toolbar </a></li>
    <li> <i class="bi bi-layout-split"></i><a > Asides </a></li>
    <li> <i class="bi bi-window-sidebar"></i><a > Layout Builder </a></li>
  </ul>

  <p class='pages'> Help </p>
  <ul>
    <li> <i class="bi bi-columns"></i><a > Components </a></li>
    <li> <i class="bi bi-file-earmark"></i><a > Documentation </a></li>
    <li> <i class="bi bi-list-nested"></i><a > Changelog </a></li>
  </ul>

  </div>
  <button class='docs-comp'> Docs & Components </button>

  </div>