.charts{
  margin-left: 350px;
  max-height: 100vh;
  overflow-y: scroll;
}

.charts div{
  margin-right: 20px;
}

.bar-chart-container{
  margin-top: 20px;
  margin-right: 90px;
  padding: 50px 50px;
  border: 1px solid #F1F1F2; 
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.03);
  border-radius: 25px;
  display: block;
  /* background-color: red; */
}
#bar-chart-canvas{
  width: 100%;
  max-width: 100%
}
.chart-types-container{
  display: flex;
  text-align: center;
  margin-top: 20px;
}

.chart-types-container p{
  font-family: helvetica;
  font-size: 12px;
  margin-top: 17px;
  font-weight: 600;
}

.scattered-plot-point, .bar-chart{
  border: 1px solid #F1F1F2; 
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  padding: 4px 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.selected {
  border: 1px solid grey; 
}

.type-heading{
  font-family: Helvetica
}

.bar-chart img{
  width: 15%
}

.scattered-plot-point img{
  width: 15%;
}

@media screen and (max-width: 1150px) {
  .charts{
    margin-left: 30px
  }
}

@media screen and (max-width: 510px) {
  .chart-types-container{
    display: block;
    text-align: center;
    margin-top: 20px;
  }
  .scattered-plot-point, .bar-chart{
    margin: 10px 10px;
  }
}
