<div class="default-dashboard">
    <div class='head'>
        <h2> Movies </h2>
        <div>
            <form>
                <input type="text" placeholder='Search..'/> <i class="bi bi-search"></i>
            </form>
        </div>
    </div>
    <div class='table-container'>
        <table class='movies-table'>
            <thead>
                <th>Release Date</th>
                <th>Movie Title</th>
                <th>Production Budget</th>
                <th>Domestic Gross</th>
                <th>Worldwide Gross </th>
            </thead>
            <tr *ngFor="let movie of movies.slice(pageIndex * pageSize, (pageIndex + 1) * pageSize); let i = index">
                <td> {{ movie.release_date }} </td>
                <td> {{movie.movie_title}} </td>
                <td> ${{movie.production_budget}} </td>
                <td> ${{movie.domestic_gross}}</td>
                <td> ${{movie.worldwide_gross}} </td>
            </tr>
        </table>
        <mat-paginator [length]="movies.length" [pageSize]="pageSize" [pageIndex]="pageIndex" (page)="onPageChange($event)"> </mat-paginator>
    </div>
</div>