<div [ngClass]="{ 'blur': true === popup }" id="movies-main">
<div class="movies">
    <div class='head'>
        <div>
            <h2> Movies </h2> <a (click)="openPopup()"> <i class="bi bi-plus-circle"></i></a>
        </div>
        <div>
            <form class="search-form">
                <input type="text" placeholder='Search..' name="filter" [(ngModel)]="searchFilter" autocomplete="off"/> 
                <button class="search" (click)="filterMovies()"> Search</button>
                <button class="reset" (click)= "resetSearch()"> Reset</button>
            </form>
        </div>
    </div>

    
    <div *ngIf="loading">
        <app-loading-spinner></app-loading-spinner>
    </div>

    <div class='table-container' *ngIf="searchFailed ">
        <p> No results </p>
    </div>

    
    <div class='table-container' *ngIf="filteredMovies && filteredMovies.length == 0 && loading == false && !searchFailed">
        <table class='movies-table' >
            <thead>
                <th>Release Date </th> 
                <th>Movie Title 
                    <div class="filter-icons-container"> <a (click)="sortAscending('movie_title')"> <i class="bi bi-caret-up-fill"></i></a>  <a (click)="sortDescending('movie_title')"><i class="bi bi-caret-down-fill"></i> </a> </div></th>
                    <th>Production Budget 
                        <div class="filter-icons-container"> <a (click)="sortAscending('production_budget')"> <i class="bi bi-caret-up-fill"></i></a> <a (click)="sortDescending('production_budget')"> <i class="bi bi-caret-down-fill"></i> </a></div></th>
                    <th>Domestic Gross 
                        <div class="filter-icons-container"> <a (click)="sortAscending('domestic_gross')"> <i class="bi bi-caret-up-fill"></i></a> <a (click)="sortDescending('domestic_gross')"><i class="bi bi-caret-down-fill"></i> </a></div> </th>
                    <th>Worldwide Gross 
                        <div class="filter-icons-container"> <a (click)="sortAscending('worldwide_gross')"> <i class="bi bi-caret-up-fill"></i> </a> <a (click)="sortDescending('worldwide_gross')"><i class="bi bi-caret-down-fill"></i> </a></div> </th>
            </thead>
            <tr  *ngFor="let movie of movies.slice(pageIndex * pageSize, (pageIndex + 1) * pageSize); let i = index">
                <td> {{ movie['release_date']}} </td>
                <td> {{ movie['movie_title']}} </td>
                <td> ${{ movie['production_budget']}} </td>
                <td> ${{ movie['domestic_gross']}}</td>
                <td> ${{ movie['worldwide_gross']}} </td>
            </tr>
        </table>

        <mat-paginator [length]="movies.length" [pageSize]="pageSize" [pageIndex]="pageIndex" (page)="onPageChange($event)"> </mat-paginator>
    </div>

    <div class="table-container" *ngIf="filteredMovies && filteredMovies.length> 0">
        <div class="table-filters" *ngIf="sortFilter">
            <p> Filter Applied: {{sortFilter}}</p> 
            <a (click)="resetSort()"> <i class="bi bi-x"></i>  </a>
        </div>
        
        <table class='movies-table'>
            <thead>
                <th>Release Date </th>
                <th>Movie Title 
                    <div class="filter-icons-container"> <a (click)="sortAscending('movie_title')"> <i class="bi bi-caret-up-fill"></i></a><a (click)="sortDescending('movie_title')"><i class="bi bi-caret-down-fill"></i> </a> </div></th>
                <th>Production Budget 
                    <div class="filter-icons-container"> <a (click)="sortAscending('production_budget')"> <i class="bi bi-caret-up-fill"></i></a> <a (click)="sortDescending('production_budget')"> <i class="bi bi-caret-down-fill"></i> </a></div></th>
                <th>Domestic Gross 
                    <div class="filter-icons-container"> <a (click)="sortAscending('domestic_gross')"> <i class="bi bi-caret-up-fill"></i></a> <a (click)="sortDescending('domestic_gross')"><i class="bi bi-caret-down-fill"></i> </a></div> </th>
                <th>Worldwide Gross 
                    <div class="filter-icons-container"> <a (click)="sortAscending('worldwide_gross')"> <i class="bi bi-caret-up-fill"></i> </a> <a (click)="sortDescending('worldwide_gross')"><i class="bi bi-caret-down-fill"></i> </a></div> </th>
            </thead>

            <tr *ngFor="let filtermovie of filteredMovies.slice(pageIndex * pageSize, (pageIndex + 1) * pageSize); let i = index">
                <td> {{ filtermovie['release_date']}} </td>
                <td> {{ filtermovie['movie_title']}} </td>
                <td> ${{ filtermovie['production_budget']}} </td>
                <td> ${{ filtermovie['domestic_gross']}}</td>
                <td> ${{ filtermovie['worldwide_gross']}} </td>
            </tr>
            
        </table>
        <mat-paginator [length]="filteredMovies.length" [pageSize]="pageSize" [pageIndex]="pageIndex" (page)="onPageChange($event)"> </mat-paginator>
    </div>
</div>
</div>
<div *ngIf="popup === true" class="add-movies">
    <form class="add-movies-form">
        <h2> Add movie</h2>
        <input type="text" placeholder="Movie name" name="movies_title" [(ngModel)]="movie_title"/>
        <input type="text" placeholder="Release date" name="release_date" [(ngModel)]="release_date"/>  
        <input placeholder="Production Budget" name="production_budget" [(ngModel)]="production_budget"/>
        <input placeholder="Domestic Gross" name="domestic_gross" [(ngModel)]="domestic_gross"/>
        <input placeholder="Worldwide Gross" name ="worldwide_gross" [(ngModel)]="worldwide_gross"/>
        <button class="add-cancel" (click)="closePopup()"> Cancel </button>
        <button class="add-submit" (click)="addMovie()"> Submit</button>
        <p class="success-message"> {{successMessage}}</p>
        <p class="fail-message"> {{failMessage}}</p>
    </form>
</div>   